
body {
    background-color: #8C52FF;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}
form {
    /* border: 2px solid rgb(109, 109, 109); */
    height: 500px;
    margin: 50px auto 0;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 8px 7px 5px black; */
  }
  .form-section {
    margin: 6px;
    border-radius: 10px;
    /* margin-top: 2em; */
  }
  
  .form-section.row {
      flex-direction: row;
  }
  button[type="button"] {
    background-color: #eeeeee;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5em;
  }
  button[type="button"]:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 10px rgb(248, 248, 248);
  }
  :valid {
    border: 2px solid rgb(138, 255, 144);
    border-radius: 5px;
  }
 
  .error-message {
    display: none;
  }

  input:invalid + .error-message {
    display: block;
    margin: 0;
    color: rgb(245, 8, 8);
  }
  .footer {
    margin-top: 20em;
    text-align: center;
   }
  
  .footer h1 {
    font-size: 24px;
  }
  
  .footer ul {
    list-style-type: row; 
    padding: 0; 
  }
  
  .footer li {
    font-size: 22px;
    margin: 5px 0; /* Add some space between each list item */
  }
  .box {
    height: 10px;
    width: 10px;
    border: 2px solid red;
  }