h2{
    text-align: center;
    margin-top: 0em;
    font-size: 4em;
    font-weight: 400;
    background-image: linear-gradient(to left, #ffffff, #dcb9ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

form {
  /* border: 2px solid rgb(109, 109, 109); */
  height: 300px;
  margin: 50px auto 0;
  padding: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.meddelande-area {
  height: 400px;
  width: 500px;
}
input {
  width: 300px; 
  text-align: center;
}


@media (max-width: 768px) {
  form {
      width: 100%;
  }

}

@media (max-width: 768px) {
  .footer {
      margin-top: 10em;
  }
}
@media (min-width: 375px) {
  form {
      width: 375px;
  }
}