nav {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
  color:rgb(255, 243, 139);
  text-align: center;
  font-size: 3em;
  text-shadow: 5px 3px 5px black;
  margin-top: -0.5em;
}

  h2{
    text-align: center;
    margin-top: 0em;
    font-size: 4em;
    font-weight: 600;
    background-image: linear-gradient(to left, #ffffff, #dcb9ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
   
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  
  @media (max-width: 936px) {
    .parent {
      grid-template-columns: 1fr;
      
    }
  }
    
    .parent > div {
        border: 2px solid rgb(255, 255, 255);
        margin: 10px;
        /* max-width: 700px;  */
    }

.seminarie {
  color: rgb(235, 235, 235);
  width: 100%;
  padding: 0;
  margin: 0;
}

.seminarie {
    box-sizing: border-box;
}

.parent {
    box-sizing: border-box;
}


.parent div {
  border: 2px solid white;
  background-color: rgb(65, 0, 218);
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
  box-shadow: 3px 3px 3px black;
}

.footer {
  margin-top: 5em;
  text-align: center;
  background-color: #8C52FF;
  border-bottom: 2px solid rgb(122, 0, 204);
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
  border-radius: 120px / 10px;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin-bottom: -2em;
 }

 .parent div:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    background-color:#5400fd;
    box-shadow: 0px 0px 20px 10px rgb(248, 248, 248);
  }

  .seminar-date {
    color: orange;
    font-size: 0.5em;
  }

  h3 {
    text-align: center;
    color: orange;
  }